.popup {
  &__container {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__wrap {
    width: 1000px;
    background-color: #fff;
    z-index: 99;
    position: relative;
  }
  &__title {
    font-size: 22px;
    border-bottom: 1px solid #e5e5e5;
    display: flex;
    justify-content: space-between;
    &__content {
      padding: 10px 20px;
    }
    &__close {
      cursor: pointer;
      padding: 10px 20px;
      position: absolute;
      right: 0;
      top: 0;
      z-index: 1;
      font-size: 22px;
    }
  }
  &__content {
    padding: 20px;
  }
  &__control {
    padding: 15px 20px;
    border-top: 1px solid #e5e5e5;
    text-align: right;
    .btn {
      margin-left: 10px;
    }
  }
  &__overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    left: 0;
    top: 0;
  }
}