.author {
  &__wrap {
    border: 1px solid #e5e5e5;
    border-radius: 8px;
    background-color: #fff;
  }
  &__main {
    padding: 20px;
  }
  &__hero {
    min-height: 500px;
    border-radius: 8px;
  }
  &__turn {
    .alert {
      cursor: pointer;
      &:hover {
        background-color: #e5e5e5;
      }
    }
  }
  &__control {
    text-align: right;
    border-top: 1px solid #e5e5e5;
    padding:15px 20px;
  }
}