.author {
  &__wrap {
    border: 1px solid #e5e5e5;
    border-radius: 8px;
    background-color: #fff;
  }
  &__main {
    padding: 20px;
  }
  &__title {
    margin-bottom: 15px;
  }
  &__hero {
    &__image {
      min-height: 300px;
      border-radius: 10px;
      border: 10px solid #e5e5e5;
      overflow: hidden;
      img {
        max-width: 100%;
      }
    }
    &__name {
      text-align: center;
      padding: 5px 0;
      font-size: 18px;
    }
  }
  &__turn {
    .alert {
      cursor: pointer;
      &:hover {
        background-color: #e5e5e5;
      }
    }
  }
  &__control {
    text-align: right;
    border-top: 1px solid #e5e5e5;
    padding:15px 20px;
  }
}